<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <form action="/allFile" method="get" style="display: inline;">
            <button type="submit">Files</button>
        </form>
        <form action="/feedback" method="get" style="display: inline;">
            <button type="submit">Feedbacks</button>
        </form>
        <form action="/logout" method="get" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
